body{
    background:linear-gradient(to right,rgba(0, 255, 26, 0.4),rgba(234, 0, 255, 0.4));
    display:flex;
    flex-wrap:wrap;
    justify-content:center;


}
h1{
    font-size:3em;
    font-style:italic;
    border:0.5px solid blue;
    border-radius:20px;
    padding:30px;
    font-weight:50;
    margin-bottom:60px;

}
h1:hover{
    transform:rotate(-360deg);
    transition:1s;
    background:linear-gradient(rgba(0, 255, 255, 0.486),rgba(128, 128, 128, 0.701));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow:2px 2px 2px 2px red;
}
form{
    font-style:italic;
    margin-top:100px;
    background:linear-gradient(to left,transparent,rgb(128, 128, 128));
    border-radius:20px;
    padding-top:10px;

}
.move{
    background-color:rgba(0, 0, 0, 0.701);
    border-radius:20px;
    border:0.5px solid black;
    border-width:30px;
    margin-left:40px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
}
.move2{
    margin-left:60px;
}

div{
    align-self:center;
    margin-right:50px;  
}
.one{
    padding:10px;
}

