body{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
h1{
    font-size:3em;
    font-style:italic;
    border-radius:20px;
    padding:30px;
    font-weight:50;
    margin-left:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1:hover{
    transform:rotate(-10deg);
    transition:1s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow:2px 2px 2px 2px rgb(0, 255, 17);
    background:linear-gradient(transparent,rgb(255, 192, 192));
}
form{
    font-style:italic;
    background:linear-gradient(to left,rgba(128, 128, 128, 0.61),transparent,rgba(128, 128, 128, 0.61));
    border-radius:30px;
    padding-top:10px;
    box-shadow:2px 2px 2px 2px rgb(173, 153, 174);

}
.move{
    background:linear-gradient(transparent,rgba(86, 86, 86, 0.701));
    border-radius:20px;
    border:2px solid rgb(0, 0, 0);
    box-shadow:1px 1px 1px 1px grey;
    margin-left:40px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    
}
.move2{
    margin-left:43px;
}

div{
    align-self:center;
    margin-right:50px;  
}
.one{
    padding:10px;
}
footer{
    font-style:italic;
    color:aliceblue;
    text-align:center;

}


